html {
    background-color: orange;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

body {
    overflow: hidden;
    overflow-y: auto;
    display: block;
    height: 100%;
}

.tagline{
  color: #ffff;
  font-size: 16px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100% !important;
    width: 100% !important;
}

.Allposts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 5%;
}

.post {
    width: 45%;
    margin: 14px auto;
    display: flex;
    border-radius: 20px;
}

.post:hover {
    box-shadow: 0px 10px 20px 10px #ccc;
}

.post .username {
    background-color: white;
    padding: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
}

.post .username p {
    color: black;
    font-weight: bold;
}

.post .FullContent {
    background-color: #ededed;
    padding: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.post .FullContent .title {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.post .FullContent .title p {
    margin: 0 10px 0 0;
}

.post .FullContent .content {
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

#deletePostModal .modal-content {
  width: 30%;
  margin: 15% auto;
}

#deletePostModal .button-wrapper {
  display: flex;
  justify-content: space-between;
}

#deletePostModal .button-wrapper button {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0;
}

#confirmDelete {
    align-items: left !important;
}

#cancelDelete {
    align-items: right !important;
}

.fa-trash{
  color: black;
  float: right;
  cursor: pointer;
}

.fa-ellipsis-h{
  color: black;
  float: right;
  cursor: pointer;
}

.btn-danger {
    margin-top: 30px;
}
