body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.title {
  position: relative;
  top: 0;
}

.logo {
  font-family: "Satisfy", cursive;
  font-size: 50px;
  color: #112fb4;
  margin: auto;
  text-decoration: none;
  margin: 10px 10px 0px 10px;
}

.tagline {
  font-family: "Marck Script", cursive;
  margin-top: 0;
  margin: 0 0 0px 10px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.Buttons{
  display: flex;
}

button.Signin_Buttons {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: small;
  color: #fff;
  margin: 10px 10px 0px 0px;
  background-color: blue;
  text-align: center;
  font-weight:normal;
  border-color:#5C5C5C;
  border-style: solid;
}

.Signin_Buttons:hover {
  background-color: #FFCD33;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enables the scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback colour */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 20%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Heading {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

input {
  padding: 10px;
  font-size: 1em;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  color: #000;
  border: #fff;
}

label {
  margin: 0 0 10px;
  font-size: 1.2em;
}


hr {
  width: 80%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.Submit_Button {
  background-color: #68b313;
  color: #fff;
  padding: 2%;
  font-size: 1.2em;
  margin-top: 10px;
  border: 0;
  cursor: pointer;
}

.login-h5 {
  display: inline;
}

.signup-link{
  font-size: 16px;
  text-decoration: none;
  color: blue;
}

.login-form{
text-align: center;
margin-top: 20px;
}
